@import "./variables.scss";
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid\ Circular\ A\ Regular.ttf"); /* IE9*/
  font-weight: 400;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid\ Circular\ A\ Medium.ttf"); /* IE9*/
  font-weight: 500;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid\ Circular\ A\ SemiBold.ttf"); /* IE9*/
  font-weight: 600;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid\ Circular\ A\ Bold.ttf"); /* IE9*/
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $main-font-family !important;
  font-size: $main-fs;
  line-height: $main-lh;
  font-weight: $main-fw;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font-family;
}

.container {
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  font-family: $main-font-family;
  font-size: $main-fs;
  line-height: 21px;
  font-weight: 600;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  &--red {
    background-color: $main-color;
    color: white;
  }
  &--transparent {
    color: black;
    border: 2px solid $main-color;
  }
  &--nav {
    text-transform: uppercase;
    font-weight: 400;
  }
  &--radius {
    border-radius: 30px;
    padding: 10px 30px;
  }
  &--white {
    border-color: white;
    color: white;
  }
}

//Popup

.mobile-popup {
  width: 100vw;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: 0.5s;
  overflow: auto;
  z-index: 100;

  &__content {
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: #fff;
    padding: 30px;

    border-radius: 20px;
  }

  &__active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    transition: 0.5s;
  }
}

.big-popup {
  width: 100vw;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
  transition: 0.5s;
  overflow: auto;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 450px) {
    padding-top: 100px;
    align-items: start;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #eeeeee;
    border-radius: 50px;
    position: relative;
    max-width: 90%;
    padding: 50px;
    top: 54px;
    @media screen and (max-width: 450px) {
      position: absolute;
      max-width: 90%;
      right: 0;
      top: 76px;
      border-radius: 0;
      padding: 20px;
    }
  }

  &__active {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    transition: 0.5s;
  }
  &-close {
    position: absolute;
    top: 0%;
    right: -11%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 2px;
      position: absolute;
      background-color: black;
      border-radius: 2px;
      top: 50%;
      left: 23%;
      @media screen and (max-width: 450px) {
        width: 25px;
        left: 14%;
      }
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
    @media screen and (max-width: 450px) {
      width: 35px;
      height: 35px;
      top: 0;
      left: -12%;
    }
  }
}

.mySwiper,
.guestSwiper {
  img {
    border-radius: 50%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  display: grid;
  align-self: center;
}

.swiper-slide {
  text-align: center;
  background: transparent;
  height: 100%;
  /* Center slide text vertically */
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    width: 25%;
  }
  &--with__two {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 550px) {
      flex-direction: row;
    }
    .slider__item:first-of-type {
      position: relative;
      left: -30px;
    }
    .slider__item:last-of-type {
      position: relative;
      right: -30px;
    }
  }
}

.slider__item {
  position: relative;
  .circle {
    width: 60px;
    height: 60px;
    background-color: rgba(206, 33, 39, 0.5);
    top: 80%;
    left: 80%;
    &--less {
      background-color: rgb(206, 33, 39);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .triangle {
    position: relative;
    left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 18px;
    border-color: transparent transparent transparent #ffffff;
  }
}
.swiper-button-next {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  &::before,
  &::after {
    content: "";
    width: 12px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: 40%;
  }
  &::before {
    transform: rotate(45deg);
    top: 44%;
  }
  &::after {
    transform: rotate(-45deg);
    top: 56%;
  }
}
.swiper-button-prev {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  &::before,
  &::after {
    content: "";
    width: 12px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: 40%;
  }
  &::before {
    transform: rotate(-45deg);
    top: 44%;
  }
  &::after {
    transform: rotate(45deg);
    top: 56%;
  }
}
