.dropdown {
  &-trigger {
    position: relative;
    margin-right: 20px;
    &::before,
    &::after {
      content: "";
      width: 12px;
      height: 1px;
      background-color: black;
      position: absolute;
    }
    &::before {
      transform: rotate(45deg);
      right: -20px;
      top: 45%;
    }
    &::after {
      transform: rotate(-45deg);
      right: -28.5px;
      top: 45%;
    }
  }
  &-body {
    position: absolute;
    top: 40px;
    opacity: 0;
    transition: 0.5s;
    max-height: 0;
    max-width: 0;
    overflow: hidden;

    &--open {
      opacity: 1;
      transition: 0.5s;
      max-height: 100vh;
      max-width: 100vw;
      overflow: auto;
    }
    &__item {
      cursor: pointer;
    }
  }
}

.mobile-dropdown {
  &-trigger {
    margin-right: 20px;
    position: relative;
    &::before,
    &::after {
      content: "";
      width: 12px;
      height: 1px;
      background-color: black;
      position: absolute;
    }
    &::before {
      transform: rotate(45deg);
      right: -20px;
      top: 45%;
    }
    &::after {
      transform: rotate(-45deg);
      right: -28.5px;
      top: 45%;
    }
  }
  &-body {
    opacity: 0;
    transition: 0.5s;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    &--open {
      opacity: 1;
      transition: 0.5s;
      max-height: 100vh;
      max-width: 100vw;
      overflow: auto;
    }
    &__item {
      cursor: pointer;
    }
  }
}
