.footer {
  background-color: black;
  &__inner {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1460px) {
      gap: 100px;
    }
    @media screen and (max-width: 1020px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .container {
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1544px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  &__helper__container {
    & > * {
      @media screen and (max-width: 1020px) {
        order: 1;
        justify-content: center !important;
      }
    }
    @media screen and (max-width: 1020px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 0;
    }
    &__nav {
      @media screen and (max-width: 1020px) {
        width: 100%;
        align-items: center;
        order: 1;
      }
    }
  }
  &__logo {
    width: 100%;
    max-width: 400px;
    margin-bottom: 50px;
    @media screen and (max-width: 1020px) {
      display: none;
    }
  }
  &__nav {
    list-style: none;
    max-width: 442px;
    @media screen and (max-width: 1020px) {
      max-width: 100%;
    }
    @media screen and (max-width: 570px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
    }
    &__item {
      padding: 20px 0;
      border-top: 2px solid #eeeeee;

      @media screen and (max-width: 570px) {
        width: 46%;
        margin: 0 5px;
      }
      &:last-child {
        border-bottom: 2px solid #eeeeee;
      }
      &__title {
        color: #fff;
        text-transform: uppercase;
        @media screen and (max-width: 570px) {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__list__item {
        margin: 20px 0;
        a {
          color: rgba(255, 255, 255, 0.5);
          text-transform: uppercase;
          @media screen and (max-width: 570px) {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 495px;
    margin-bottom: 50px;
    @media screen and (max-width: 1020px) {
      align-items: center;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    @media screen and (max-width: 570px) {
      align-items: center;
      text-align: center;
    }
    &__kind {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 10px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    &__content {
      color: rgba(255, 255, 255);
      width: 100%;
      @media screen and (max-width: 1020px) {
        text-align: center;
      }
      @media screen and (max-width: 570px) {
        flex-direction: column;
      }

      a {
        color: rgba(255, 255, 255);
        font-size: 32px;
        line-height: 45px;
      }

      p {
        font-size: 24px;
        line-height: 36px;
      }
      .social {
        justify-content: flex-start;
        gap: 9px;
        @media screen and (max-width: 1020px) {
          justify-content: center;
        }
        @media screen and (max-width: 570px) {
          justify-content: center;
        }
        &__item {
          width: 60px;
          height: 60px;
        }
      }
      &__adress {
        margin-bottom: 20px;
      }

      .form__input {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.5);
        max-width: 495px;
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .btn {
        margin-bottom: 10px;
      }

      .btn--white {
        border-color: $main-color;
      }
    }
  }

  &__input__container {
    position: relative;
    input {
      width: 100%;
    }

    .form__input {
      margin-bottom: 0;
      @media screen and (max-width: 480px) {
        height: 60px;
      }
    }
    .btn {
      max-width: 35%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2%;
      max-height: 95%;
      padding: 3 10px;
      margin-bottom: 0;
    }
    .big {
      @media screen and (max-width: 520px) {
        display: none;
      }
    }

    .little {
      display: none;
      width: 55px;
      height: 40px;
      @media screen and (max-width: 520px) {
        display: inline-block;
      }
      &::before,
      &::after {
        content: "";
        width: 12px;
        height: 1px;
        background-color: #fff;
        position: absolute;
      }
      &::before {
        transform: rotate(45deg);
        right: 47%;
        top: 50%;
      }
      &::after {
        transform: rotate(-45deg);
        left: 47%;
        top: 50%;
      }
    }
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__follow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__adress {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__map {
    width: 100%;
    text-align: center;
    @media screen and (max-width: 1020px) {
      width: 100%;
      align-items: center;
      order: 0;
      margin-bottom: 30px;
    }
    img {
      display: none;
      max-width: 85%;
      @media screen and (max-width: 1020px) {
        margin: 0 auto 20px;
        display: block;
      }
    }
    .map {
      width: 100%;
      margin: 0;
      max-height: 400px;
    }
  }
}

//copyright

.copyright {
  .container {
    padding: 0;
    display: flex;
    color: white;
    justify-content: space-between;
    @media screen and (max-width: 1260px) {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      font-size: 14px;
    }
  }
  background-color: #1e1e1e;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;

  &__link-list {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 1260px) {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
  }
}
