@import "./variables.scss";
@import "./common-styles.scss";
@import "./header.scss";
@import "./dropdown.scss";
@import "./slider.scss";

//Preview
//////////////////////////////////////////////
.preview {
  width: 100%;
  margin-top: -71px;
  width: 100%;
  color: white;
  &__inner {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url("../img/preview/Group\ 889preview_big_symbol.svg");
    background-position: left top;
    background-repeat: no-repeat;
    @media screen and (max-width: 1360px) {
      background-image: url("../img/preview/Group\ 896backgroud__preview.svg");
      background-position: top;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: 400px) {
      background-position: 50% 220%;
    }

    @media screen and (max-width: 1040px) {
      flex-wrap: wrap;
    }
  }

  &__info {
    padding-left: 185px;
    @media screen and (max-width: 1360px) {
      padding-left: 50px;
    }
    @media screen and (max-width: 600px) {
      padding: 0 15px;
    }
    &__title {
      font-size: 96px;
      font-weight: 700;
      line-height: 96px;
      letter-spacing: 1%;
      margin-bottom: 10px;
      @media screen and (max-width: 600px) {
        text-align: center;
        font-size: 32px;
        line-height: 32px;
      }
    }

    &__description {
      font-size: 48px;
      line-height: 60px;
      max-width: 683px;
      margin-bottom: 72px;
      @media screen and (max-width: 600px) {
        text-align: center;
        font-size: 16px;
        line-height: 21px;
      }
    }
    .slider {
      margin-top: 80px;
    }
  }

  &__benefits {
    display: flex;
    gap: 42px;
    margin-bottom: 79px;
    @media screen and (max-width: 1040px) {
      flex-direction: column;
      align-items: flex-start;
      & > * {
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 0;
      gap: 20px;
    }
    &__container {
      align-items: center;
      @media screen and (max-width: 1360px) {
        display: flex;
      }
    }
    &__img {
      display: none;
      width: 500px;
      margin-top: -50px;
      @media screen and (max-width: 1040px) {
        display: block;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 60px;
        @media screen and (max-width: 600px) {
          width: 40px;
          height: 40px;
        }
      }
      p {
        max-width: 156px;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        text-align: left;
        @media screen and (max-width: 600px) {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    @media screen and (max-width: 600px) {
      width: 80%;
    }
    &__background {
      width: 100%;
      margin-top: -40px;
      border-radius: 50%;
      @media screen and (max-width: 1360px) {
        margin-top: 0;
      }
    }
  }

  &__location {
    margin: 0 auto;
    width: 452px;
    height: 452px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    box-shadow: 4px 4px 63px 23px rgba(34, 60, 80, 0.22);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -430px;
    position: relative;
    z-index: 2;
    color: black;
    text-align: center;
    &__img {
      width: 200px;
      height: 200px;
    }
    &__place {
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }
    &__metro {
      margin-bottom: 23px;
    }
    @media screen and (max-width: 1700px) {
      margin-top: -330px;
    }
    @media screen and (max-width: 1600px) {
      display: none;
    }
  }
  .slider {
    @media screen and (max-width: 1320px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 1320px) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    @media screen and (max-width: 500px) {
      width: 320px;
      height: 140px;
    }
    &__controll {
      @media screen and (max-width: 500px) {
        width: 50px;
        height: 50px;
      }
    }
    &__dots {
      display: flex;
      gap: 10px;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 500px) {
        bottom: -20px;
      }
    }
    .slide {
      @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
      }
      &__text,
      &__amount {
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        @media screen and (max-width: 500px) {
          font-size: 16px;
        }
      }
      &__amount {
        text-transform: uppercase;
        font-weight: 600;
      }

      &__img {
        position: absolute;
        right: 0;
        z-index: -1;
      }

      button {
        @media screen and (max-width: 500px) {
          margin-top: 0;
          font-size: 14px;
          line-height: 18px;
          padding: 11px 20px;
        }
      }
    }
  }
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &--less {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }

  &__play {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

//Benefits
///////////////////
.benefits {
  padding: 0 15px;
  &__inner {
    display: flex;
    position: relative;
    padding-top: 100px;
    @media screen and (max-width: 1600px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__title {
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    max-width: 1060px;
    margin-bottom: 75px;
    @media screen and (max-width: 1600px) {
      text-align: center;
      max-width: 100%;
    }
    @media screen and (max-width: 600px) {
      font-size: 32px;
      line-height: 32px;
    }
  }
  &__info {
    position: relative;
    z-index: 2;
  }

  &__list {
    max-width: 588px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media screen and (max-width: 1600px) {
      max-width: 100%;
    }
    &__item {
      display: flex;
      &__info {
        h4 {
          font-size: 32px;
          line-height: 32px;
          font-weight: 600px;
          margin-bottom: 20px;
          @media screen and (max-width: 600px) {
            font-size: 24px;
            line-height: 24px;
            text-align-last: left;
          }
        }
        p {
          @media screen and (max-width: 600px) {
            font-size: 14px;
            line-height: 21px;
            text-align-last: left;
          }
        }
      }
      img {
        width: 80px;
        height: 80px;
        margin-right: 31px;
        @media screen and (max-width: 600px) {
          width: 50px;
          height: 50px;
          margin-right: 20px;
        }
      }
    }
  }

  .chema {
    position: absolute;
    z-index: -1;
    top: -15%;
    right: 0;
    @media screen and (max-width: 1600px) {
      display: none;
    }
  }
  .chema__mob {
    display: none;
    width: 100%;
    @media screen and (max-width: 1600px) {
      display: block;
    }
  }
}

//Block-with-logo
//////////////////////////
.block-with-logo {
  padding: 215px 15px 157px 15px;
  @media screen and (max-width: 560px) {
    padding: 70px 0 57px 0;
  }
  &__contaier {
    max-width: 1570px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    margin: 0 auto;
  }
  &__text {
    max-width: 1069px;
    h3 {
      font-size: 64px;
      line-height: 96px;
      font-weight: 600;
      margin-bottom: 20px;
      @media screen and (max-width: 560px) {
        font-size: 24px;
        line-height: 24px;
        margin-top: 20px;
      }
    }

    p {
      font-size: 24px;
      line-height: 36px;
      @media screen and (max-width: 560px) {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 176px;
    margin: 0 auto;
    @media screen and (max-width: 1290px) {
      flex-direction: column;
      gap: 70px;
      text-align: center;
    }
    @media screen and (max-width: 560px) {
      gap: 20px;
    }
  }
  &__numbers {
    display: flex;
    gap: 52px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1290px) {
      order: 1;
    }

    &__child {
      .big-numbers {
        font-size: 96px;
        line-height: 96px;
        font-weight: 600;
        @media screen and (max-width: 560px) {
          font-size: 48px;
          line-height: 48px;
        }
      }
      .big-description {
        font-size: 32px;
        line-height: 32px;
        font-weight: 600;
        @media screen and (max-width: 560px) {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}

//Big tabs
///////////////////////////////////

.big-tabs {
  &__header {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 32px;
    @media screen and (max-width: 1050px) {
      gap: 10px;
    }
    &__control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 461px;
      padding: 20px 0;
      border: 2px solid #fff;
      border-radius: 20px;
      color: $main-color;
      font-size: 24px;
      line-height: 31px;
      font-weight: 600;
      position: relative;
      cursor: pointer;
      transition: 0.4s;
      @media screen and (max-width: 1050px) {
        font-size: 24px;
        line-height: 27px;
      }
      &--active {
        background-color: #fff;
        color: black;
        transition: 0.4s;
        &::after {
          transition: 0.4s;
          position: absolute;
          bottom: -32px;
          left: 50%;
          transform: translateX(-50%);
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 30px 30px 0 30px;
          border-color: #ffffff transparent transparent transparent;
        }
      }
    }
  }
  &__item {
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    padding: 100px;
    @media screen and (max-width: 1050px) {
      padding: 40px;
    }
  }
}

.arena {
  display: flex;
  @media screen and (max-width: 1360px) {
    flex-wrap: wrap;
  }
  &__description {
    max-width: 539px;
    @media screen and (max-width: 1360px) {
      max-width: 100%;
    }
    &__title {
      font-size: 48px;
      line-height: 48px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    &__options {
      display: flex;
      gap: 42px;
      margin-bottom: 34px;
    }
    &__option {
      display: flex;
      align-items: center;
      gap: 15px;
      img {
        width: 60px;
        height: 60px;
      }
      p {
        font-size: 24px;
        line-height: 31px;
        font-weight: 600;
      }
    }
    &__text {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 30px;
    }
    &__buttons {
      display: flex;
      gap: 20px;
    }
  }
  .btn {
    padding: 20px 40px;
  }

  &__image {
    min-width: 600px;
    position: relative;
    top: -140px;
    right: -60px;
    @media screen and (max-width: 1678px) {
      top: -110px;
    }
    @media screen and (max-width: 1460px) {
      top: -39px;
    }
    @media screen and (max-width: 1360px) {
      position: static;
      min-width: 350px;
    }
  }
}

.galery {
  display: grid;
  grid-gap: 15px;
  position: relative;
  top: -300px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-template-rows: repeat(16, minmax(50px, 85px));
  @media screen and (max-width: 1730px) {
    top: -150px;
  }
  @media screen and (max-width: 1530px) {
    top: -45px;
  }
  @media screen and (max-width: 1460px) {
    grid-template-rows: repeat(16, minmax(30px, 45px));
  }
  @media screen and (max-width: 1200px) {
    grid-template-rows: repeat(16, minmax(30px, 25px));
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 30px;
    @media screen and (max-width: 1300px) {
      padding: 15px;
    }
    &__description {
      text-align: center;
      color: #fff;
      &__data {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 20px;
      }
      &__btns {
        display: flex;
        gap: 10px;
        justify-content: center;
        .btn {
          padding: 10px 20px;
          color: #fff;
          border-color: #fff;
          @media screen and (max-width: 1300px) {
            font-size: 15px;
            padding: 5px 12px;
          }
        }
      }
      h4 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 600px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media screen and (max-width: 1300px) {
          font-size: 24px;
        }
      }
    }
  }

  &__item_2 {
    grid-column: span 2;
    grid-row: span 5;
    border-radius: 30px;
    @media screen and (max-width: 1200px) {
      grid-column: span 3;
    }
    .circle {
      width: 60px;
      height: 60px;
    }
  }
  &__item_6 {
    grid-column: span 6;
    grid-row: span 6;
    border-radius: 30px;
    @media screen and (max-width: 1200px) {
      grid-column: span 3;
      grid-row: span 5;
    }
    .circle {
      width: 80px;
      height: 80px;
    }
  }
  &__item_3 {
    grid-column: span 3;
    grid-row: span 5;
    border-radius: 30px;

    .circle {
      width: 60px;
      height: 60px;
    }
  }
  // grid-area:
  //   ;
}

.city_z {
  background-image: url("../img/big_tabs/Frame\ 922cyty_zzz.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.survivors {
  background-image: url("../img/big_tabs/Frame\ 897survivors.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.antidote {
  background-image: url("../img/big_tabs/Frame\ 923antidote.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.revolta {
  background-image: url("../img/big_tabs/Frame\ 924revolta.svg");
  background-size: cover;
  background-repeat: no-repeat;
  .galery__item__description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }
}
.station_zarya {
  background-image: url("../img/big_tabs/Frame\ 925station_zaria.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.lost_sanctuary {
  background-image: url("../img/big_tabs/Frame\ 926lost_sanctuary\ \(1\).svg");
  background-size: cover;
  background-repeat: no-repeat;
}

//Big-slider
.big-slider {
  padding-top: 170px;
  padding-bottom: 121px;
  .container {
    max-width: 1920px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    max-width: 1860px;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
  }
}

//Big tabs Entertaiment

.big-tabs--events {
  .big-tabs__header__control {
    padding: 26px 31px;
  }
  .big-tabs__header__control__inner {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    p {
      margin-left: 20px;
    }
  }
  .baloons {
    background: url("../img/big_tabs_entertaiment/balloon_PNG4957\ 1baloons.svg")
        no-repeat,
      url("../img/big_tabs_entertaiment/balloon_PNG4957\ 2baloons_right.svg")
        no-repeat 100%,
      #fff;
  }
  .champagne {
    background: url("../img/big_tabs_entertaiment/balloon_PNG4957\ 4champagne.svg")
        no-repeat,
      url("../img/big_tabs_entertaiment/balloon_PNG4957\ 3champagne_bokals.png")
        no-repeat 100%,
      #fff;
  }
  .with_women {
    background: url("../img/big_tabs_entertaiment/pngegg\ \(3\)\ 1hlopushka.svg")
        no-repeat,
      url("../img/big_tabs_entertaiment/pngegg\ \(2\)\ 1women.svg") no-repeat
        100%,
      #fff;
  }
  .shine_ball {
    background: url("../img/big_tabs_entertaiment/pngegg\ \(4\)\ 2shine_bal_left.svg")
        no-repeat,
      url("../img/big_tabs_entertaiment/pngegg\ \(4\)\ 1shine_bal_right.svg")
        no-repeat 100%,
      #fff;
  }
  .gift {
    background: url("../img/big_tabs_entertaiment/image\ 6gift_left.png")
        no-repeat,
      url("../img/big_tabs_entertaiment/image\ 7gift_right.svg") no-repeat 100%,
      #fff;
    .slider {
      width: 595px;
      height: 363px;
    }
    .slide {
      background: url("../img/big_tabs_entertaiment/anvio-logo-horizontal-red@3x\ 2logo_entertaiment.svg")
        no-repeat right bottom #fff;
      border: 5px solid $main-color;
      &__inner {
        color: black;
      }
      &__header {
        padding-bottom: 16px;
        border-bottom: 2px solid #eeeeee;
        margin-bottom: 20px;
        &__title {
          font-size: 24px;
          line-height: 28px;
          font-weight: 600px;
        }
        &__price {
          font-size: 64px;
          line-height: 77px;
          font-weight: 700px;
        }
      }
    }
  }
}

.tab__item__entertaiment {
  display: flex;
  align-items: center;
  gap: 90px;
  background-color: #fff;
  justify-content: center;
  padding-top: 100px 0;
  &__description {
    max-width: 539px;
    &__title {
      font-size: 48px;
      line-height: 48px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    &__text {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    &__button-container {
      display: inline-block;
      position: relative;
      margin-bottom: 30px;
    }
    &__arrow {
      position: absolute;
      top: -65%;
      right: -45%;
    }
    &__info {
      display: flex;
      gap: 40px;
      a {
        color: $main-color;
      }
    }
  }
  .slider {
    width: 600px;
    height: 545px;
    &__controll {
      top: 45%;
    }
  }
  .slide {
    background-image: url("../img/big_tabs_entertaiment/День\ рождения-0127\ 1birthday.png");
    display: flex;
    align-items: flex-end;
    &__inner {
      color: white;
      &__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      &__text {
        margin-bottom: 10px;
      }
      &__author {
        display: flex;
        align-items: center;
        button {
          flex-grow: 1;
        }
      }
    }
  }
}

//Slider guest

.guestSwiper {
  .swiper-slide {
    flex-direction: column;
    gap: 20px;
  }
  .guestSwiper__img__container {
    position: relative;
  }
  .circle {
    width: 60px;
    height: 60px;
    background-color: rgba(206, 33, 39, 0.5);
    top: 85%;
    left: 85%;
    &--less {
      background-color: rgb(206, 33, 39);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .triangle {
    position: relative;
    left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 18px;
    border-color: transparent transparent transparent #ffffff;
  }
  .swiper-button-next {
    width: 100px;
    height: 100px;
  }
}

//Review
.big-slider-reviews {
  padding-top: 0;
}
.swiper-slide__review {
  padding: 50px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);

  &:hover .review__body {
    transition: all 0.4s;
    max-height: 360px;
    mask-image: none;
  }
}
.review {
  &__header {
    display: flex;
    gap: 9px;
    margin-bottom: 11px;
    align-items: center;
  }
  &__info {
    text-align: left;
  }
  &__photo {
    width: 50px;
    height: 50px;
  }
  &__google-maps {
    width: 50px;
    height: 50px;
  }
  &__name {
    font-weight: 600;
  }
  &__date {
    color: rgba(0, 0, 0, 0.5);
  }
  &__container {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__rating {
    display: flex;
    &__item {
      width: 16px;
      height: 16px;
    }
  }
  &__body {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    transition: 0.4s;
    max-height: 130px;
  }
  .swiper {
    overflow: auto;
  }
}
.mask1 {
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

//Sale
.big-slider-sale {
  padding-top: 0;
  .container {
    max-width: 1860px;
  }
}

.card {
  padding: 50px;
  border-radius: 30px;

  @media screen and (max-width: 1650px) {
    max-height: 619px;
    padding: 20px;
  }
  &__inner {
    height: 100%;
    min-height: 480px;
    max-width: 300px;
    @media screen and (max-width: 1650px) {
      max-width: 90%;
    }
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    // justify-self: start;
  }
  &__date {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__img {
    margin-bottom: 10px;
    @media screen and (max-width: 1650px) {
      max-height: 200px;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media screen and (max-width: 1650px) {
      margin-bottom: 20px;
    }
    h5 {
      font-size: 32px;
      line-height: 32px;
      font-weight: 600;
      @media screen and (max-width: 1650px) {
        font-size: 24px;
        line-height: 24px;
      }
    }

    img {
      max-width: 60px;
      max-height: 60px;
    }
  }
  &__text {
    margin-bottom: 30px;
    @media screen and (max-width: 1650px) {
      font-size: 15px;
      line-height: 20px;
    }
  }
  &--red {
    background-color: $main-color;
    color: white;
    .btn {
      border: 2px solid white;
      margin-top: auto;
    }
  }

  &--white {
    background-color: #fff;
    color: black;
    .btn {
      border: 2px solid red;
      margin-top: auto;
      color: black;
    }
  }
}

//Contacts Block

.contacts-block {
  .container {
    padding-top: 370px;
    padding-bottom: 270px;
    max-width: 1544px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    background: url("../img/contact/Ellipse\ 78contact__girl.png") no-repeat
      center;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 160px;
      padding-bottom: 160px;
      background-size: 70% auto;
    }
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 70px;
      padding-bottom: 70px;
      background-size: 80% auto;
    }
    @media screen and (max-width: 775px) {
      background-size: 110% auto;
      background-position: center 43%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media screen and (max-width: 600px) {
      background-position: center 24%;
    }
    @media screen and (max-width: 380px) {
      background-position: center 19%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 775px) {
      margin-bottom: 335px;
    }
  }
  &__main {
    max-width: 308px;
    @media screen and (max-width: 775px) {
      text-align: center;
      max-width: 100%;
    }
  }
  &__title {
    font-size: 64px;
    line-height: 64px;
    font-weight: 500;
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
      font-size: 32px;
      line-height: 1;
      margin-bottom: 20px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 28px;
    @media screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 24px;
    }
    @media screen and (max-width: 380px) {
      font-size: 14px;
      line-height: 17px;
    }
  }
  &__contact {
    display: flex;
    gap: 20px;
    align-items: center;
    &__phone {
      font-size: 32px;
      line-height: 48px;
      font-weight: 400;
    }
  }
  &__manager {
    margin-top: auto;
    @media screen and (max-width: 775px) {
      display: none;
    }
    &--mobile {
      display: none;
      margin-bottom: 90px;
      .contacts-block__manager__text {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
      }
      .contacts-block__contact__phone {
        font-size: 18px;
        line-height: 27px;
      }
      @media screen and (max-width: 775px) {
        display: block;
        margin-top: 35px;
      }
    }
    &__text {
      font-size: 24px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}

//Form

.form {
  width: 443px;
  border-radius: 30px;
  background-color: #fff;
  padding: 50px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
  @media screen and (max-width: 480px) {
    padding: 30px;
  }
  &__title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  &__input {
    margin-bottom: 10px;
    border-radius: 25px;
    width: 100%;
    max-width: 343px;
    height: 60px;
    border: 2px solid #eeeeee;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (max-width: 480px) {
      height: 40px;
    }
    &::placeholder {
      font-family: $main-font-family;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.45);
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
  &__textfield {
    margin-bottom: 20px;
    border-radius: 25px;
    width: 100%;
    max-width: 343px;
    max-height: 150px;
    border: 2px solid #eeeeee;
    resize: none;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    &::placeholder {
      font-family: $main-font-family;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.45);
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
  .btn {
    margin-bottom: 20px;
    padding: 20px 0;
    width: 100%;
    @media screen and (max-width: 480px) {
      padding: 11px 0;
    }
  }
  &__text {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    line-height: 18px;
  }

  &__link {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.45);
  }
}

//Bif slider Preview

.big-slider__preview {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $main-color;

  .slide {
    flex-direction: column;
    align-items: flex-start;
    color: white;
  }
}

//Footer
.footer {
  background-color: black;
  &__inner {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1460px) {
      gap: 100px;
    }
    @media screen and (max-width: 1020px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .container {
    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 1544px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  &__helper__container {
    @media screen and (max-width: 1020px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__nav {
      @media screen and (max-width: 1020px) {
        width: 100%;
        align-items: center;
      }
    }
  }
  &__logo {
    width: 100%;
    max-width: 400px;
    margin-bottom: 50px;
  }
  &__nav {
    list-style: none;
    max-width: 442px;
    @media screen and (max-width: 1020px) {
      max-width: 100%;
    }
    @media screen and (max-width: 570px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
    }
    &__item {
      padding: 20px 0;
      border-top: 2px solid #eeeeee;
      @media screen and (max-width: 570px) {
        width: 46%;
        margin: 0 5px;
      }
      &:last-child {
        border-bottom: 2px solid #eeeeee;
      }
      &__title {
        color: #fff;
        text-transform: uppercase;
        @media screen and (max-width: 570px) {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__list__item {
        margin: 20px 0;
        a {
          color: rgba(255, 255, 255, 0.5);
          text-transform: uppercase;
          @media screen and (max-width: 570px) {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 495px;
    margin-bottom: 50px;
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    @media screen and (max-width: 570px) {
      align-items: center;
      text-align: center;
    }
    &__kind {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 10px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
    &__content {
      color: rgba(255, 255, 255);
      width: 100%;
      @media screen and (max-width: 570px) {
        flex-direction: column;
      }

      a {
        color: rgba(255, 255, 255);
        font-size: 32px;
        line-height: 45px;
      }

      p {
        font-size: 24px;
        line-height: 36px;
      }
      .social {
        justify-content: flex-start;
        gap: 9px;
        @media screen and (max-width: 570px) {
          justify-content: center;
        }
        &__item {
          width: 60px;
          height: 60px;
        }
      }
      &__adress {
        margin-bottom: 20px;
      }

      .form__input {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.5);
        max-width: 495px;
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .btn {
        margin-bottom: 10px;
      }

      .btn--white {
        border-color: $main-color;
      }
    }
  }

  &__input__container {
    position: relative;
    input {
      width: 100%;
    }
    .btn {
      max-width: 30%;
      position: absolute;
      top: 13%;
      right: 2%;
    }
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__follow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__adress {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__map {
    width: 100%;
    .map {
      width: 100%;
      margin: 0;
      height: 400px;
    }
  }
}

//copyright

.copyright {
  .container {
    padding: 0;
    display: flex;
    color: white;
    justify-content: space-between;
  }
  background-color: #1e1e1e;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;

  &__link-list {
    display: flex;
    gap: 30px;
  }
}

//Popups

.popup__prices {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  &__container {
    display: none;
    // display: grid;
    grid-template-columns: repeat(2, minmax(250px, 560px));
    grid-template-rows: repeat(3, minmax(143px, 167px));
    grid-gap: 10px;
    @media screen and (max-width: 1330px) {
      grid-template-columns: 560px;
    }
    @media screen and (max-width: 650px) {
      grid-template-columns: repeat(1, minmax(260px, 1fr));
      grid-template-rows: repeat(3, minmax(190px, 1fr));
      font-size: 14px;
    }
    .item3 {
      grid-row: span 3;
      border: 5px solid $main-color;
    }
    .item1 {
      grid-row: span 1;
      .arena__description__title {
        font-size: 24px;
        line-height: 1;
      }
      .popup__prices__item__container-title {
        flex-direction: row;
        justify-content: space-between;
      }
      .popup__prices__item__working-grafic-container {
        max-width: 50%;
      }
    }
  }
  .arena__description__title {
    margin-bottom: 0;
  }
  &__item {
    &__container-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
      .popup__prices__item__working-grafic-container {
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 650px) {
          width: 100%;
        }
      }
    }
    .arena__description__option {
      @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    &__working-grafic-container {
      display: flex;
      align-items: center;
      background: #eeeeee;
      border-radius: 10px;
      padding: 5px 10px;
      @media screen and (max-width: 650px) {
        flex-direction: column;
      }
    }
    &__description {
      list-style: disc;
      margin-bottom: 20px;
    }
    &__working-grafic {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__working-grafic-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      background: #eeeeee;
      border-radius: 10px;
      padding: 5px 10px;
    }
    &__working-grafic {
      margin-bottom: 20px;
    }
    &__working-grafic-price {
      font-size: 24px;
      line-height: 21px;
      font-weight: 600;
      margin-right: 10px;
      @media screen and (max-width: 650px) {
        font-size: 14px;
      }
    }
    &__info {
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 20px;
    }
    .btn {
      width: 100%;
      @media screen and (max-width: 650px) {
        font-size: 14px;
      }
    }

    .arena__description__options {
      margin-bottom: 25px;
    }
  }
  .arena__description__options {
    img {
      width: 35px;
      height: 35px;
    }
  }
}

.hide {
  display: none;
}

.show {
  display: flex;
}
