//Font-styles

//Colors
$cream-white: rgb(238, 238, 238);
$red: #ce2127;

$body-color: $cream-white;
$main-color: $red;

//Fonts
$main-fs: 16px;
$main-lh: 24px;
$main-fw: 400;
$main-font-family: "Euclid Circular A", sans-serif;
